<ion-app>
  <ion-router-outlet></ion-router-outlet>
  
  <!-- Bottom Navigation Global -->
  <ion-footer class="ion-no-border bottom-nav">
    <div class="fab-container">
      <ion-fab-button class="main-fab" color="primary" (click)="openCreateTaskModal()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </div>
    <ion-toolbar>
      <div class="nav-icons">
        <ion-button fill="clear" color="primary"><ion-icon name="home-outline"></ion-icon></ion-button>
        <ion-button fill="clear" color="medium" (click)="openNotificationsModal()" class="notification-btn">
          <ion-icon name="notifications-outline"></ion-icon>
          @if (taskService.urgentCount() > 0) {
            <div class="urgent-badge">{{ taskService.urgentCount() }}</div>
          }
        </ion-button>
        <div class="spacer"></div> <!-- Space for FAB -->
        <ion-button fill="clear" color="medium" (click)="openCategoriesModal()"><ion-icon name="grid-outline"></ion-icon></ion-button>
        <ion-button fill="clear" color="medium" (click)="changeName()"><ion-icon name="person-outline"></ion-icon></ion-button>
      </div>
    </ion-toolbar>
  </ion-footer>
</ion-app>
